body {
  margin-top: 75px;
  background-color: #79b5ea;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1F1B24;
  color: #999;
}

.dark-mode {
  .todoapp-container {
    background-color: #232323;

    .input-field, .todo-list {
      border: none;
      background-color: #121212;
      color: #fff;
    }

    .filter-btns .btn {
      background-color: #232323;
      color: #fff;
      &:hover, &:focus{
        border-bottom: 2px solid #bb86fc;
      }
    }

    .todo-list__buttons .btn, .add-button {
      background: #A878E2;
      color: #121212;
      &:hover {
        background-color: #bb86fc;
      }
    }
    
    .header {
      background: -webkit-linear-gradient(left, #bb86fc 0%, #5e60ce 25%, #97b1fb 50%, #bb86fc 100%) repeat;
      background-clip: text;
    }

    .custom-checkbox:checked + label::before {
      filter: invert(90%);
    }
  }

  .dark-mode-toggle > button {
    color: #999;
  }

  .dark-mode-toggle > button:last-child {
    color: #ffe600;
  }
}

.dark-mode-toggle {
  position: absolute;
  right: 10px;
  top: -40px;

  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #555;
    }
  }
  & > button:focus {
    outline: none;
  }

}

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}
input[type='checkbox'].dmcheck:focus-visible {
  outline: solid 2px white;
}
input[type='checkbox'].dmcheck + label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: -0.5px;
  left: 8px;
  background: #fff;
  opacity: 0.8;
}

input[type='checkbox'].dmcheck:checked + label {
  left: 32px;
}

.toggle-control {
  position: relative;
  padding: 0 4px;
}

.todoapp-container {
  position: relative;
  max-width: 700px;
  padding: 35px;
  margin: 20px auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 2.5rem 5rem 0 rgba(0,0,0,.1);
  border-radius: 8px;
  background-color: white;

  .header {
    text-align: center;
    font-size: 24px;
    background: rgba(255, 253, 160, 1);
    background: -webkit-linear-gradient( left, #1E6F9F 0%, #5e60ce 25%, #97b1fb 50%, #1E6F9F 100%) repeat;
    background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation-name: masked-animation;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes masked-animation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -8000px -3000px;
    }
  }

  .subheader {
    margin: 35px 0 20px 0;
    font-weight: 600;
    font-size: 18px;
  }

  .input-field {
    width: 80%;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
  }

  .input-section {
    .wrapper {
      margin: 40px 0 70px 0;
      display: flex;
    }
  }

  .btn {
    cursor: pointer;
    padding: 8px;
  }

  .add-button {
    width: 20%;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    background: #1E6F9F;
    color: white;
    &:hover {
      background: #3d85c6;
      transition: all 0.5s;
    }
  }

  .add-button:disabled {
    background: #3d85c6;
    cursor: not-allowed;
  }

  .todo-list {
    padding: 0 15px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;

    &__item {
      list-style: none;
      padding: 18px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #bdbdbd;
      }
    }

    &__buttons {
      display: flex;
      margin-left: 15px;

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        background-color: #edf2f7;
        border: none;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:hover {
          background-color: #e2e8f0;
          transition: all 0.5s;
        }
      }

      .edit-btn, .cancel-btn {
        margin-right: 15px;
      }
    }
  }

  .reading-mode, .edit-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-checkbox {
    position: absolute;
    opacity: 0;
    display: none;

    & + label {
      display: inline-flex;
      align-items: center;
      &::before {
        display: inline-block;
        content: '';
        cursor: pointer;
        height: 15px;
        width: 15px;
        border: 1px solid grey;
        border-radius: 8px;
        margin-right: 10px;
        padding: 5px;
      }
    }

    &:checked + label::before {
      background: url(check-solid.svg) no-repeat center;
      background-size: 15px;
    }
  }

  .filter-btns {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    .btn {
      width: 160px;
      font-size: 18px;
      background-color: white;
      border: none;
      border-bottom: 2px solid #bdbdbd;
      &:hover, &:focus{
        border-bottom: 2px solid #1E6F9F;
      }
    }
  }

  .edit-input {
    height: 40px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }

}